<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>


<!--=================================-->
<div class="toast show write-plus-center" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
        <fieldset>
            <legend class="text-center">글 내용</legend>
            <div class="form-group">
                <label class="form-label mt-4">제목</label>
                <h3 th:text="${boardDto.title}"></h3>
<!--                <input type="text" class="form-control" name="title" placeholder="제목을 입력하세요">-->
            </div>
            <div class="form-group">
                <label class="form-label mt-4">작성일</label>
                <h5 th:inline="text">[[${#temporals.format(boardDto.createdDate, 'yyyy-MM-dd HH:mm')}]]</h5>
                <!--                <input type="text" class="form-control" name="writer" placeholder="작성자를 입력하세요">-->
            </div>
            <div class="form-group">
                <label class="form-label mt-4">작성자</label>
                <h3 th:text="${boardDto.writer}"></h3>
                <!--                <input type="text" class="form-control" name="writer" placeholder="작성자를 입력하세요">-->
            </div>
            <div class="form-group">
                <label class="form-label mt-4">내용</label>
                <h3 th:text="${boardDto.content}"></h3>
                <!--                <textarea class="form-control" name="content" rows="10"></textarea>-->
            </div>
            <div th:if="${boardDto.fileId != null}" class="form-group">
                <label class="form-label mt-4">이미지</label><br>
                <a th:href="@{'/download/' + ${boardDto.fileId}}"></a>
                <img th:src="@{/img/}+${fileDto.origFilename}" class="filesize">
            </div>
        </fieldset>


        <div style="margin-top: 2rem">
            <a th:href="@{'/post/edit/' + ${boardDto.id}}">
                <button class="btn btn-warning btn-sm">글 수정하기</button>
            </a>

            <br>

            <form id="delete-form" th:action="@{'/post/' + ${boardDto.id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button id="delete-btn" class="btn btn-warning btn-sm">글 삭제하기</button>
            </form>
        </div>



    </div>
</div>


<!--=================================-->





<!-- 변수 셋팅 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var boardDto = /*[[${boardDto}]]*/ "";
    /*]]>*/
</script>

<!-- script -->
<script th:inline="javascript" th:src="@{/js/board.js}"></script>
</body>
</html>